$font__main: "Lora", serif;
$font__heading: "Heebo", serif;
$font__sans: "Heebo", sans-serif;

$white: #fff;
$black: #2a2a2a;
$gray: #656e79;
$dark-gray: #6d6c6c;
$twitter: #1a8bf0;
$facebook: #3b5998;
$linkedin: #0084bf;

$content_width: 760px;
$content_padding: 20px;
$content_padding_mobile: 5px;
$content_max-width: 720px;
$content_mobile-width: 90%;

$content_padding: 20px;
$content_padding_mobile: 5px;

$alignwide_width: 1024px;
$alignwide_width_mobile: 840px;

$accent: #218799;
$background: rgba(0, 0, 0, 0.04);
$green: #49e2be;
$red: #f00;

$color--error: #e85c41;
$color--success: #2cb994;

$color--background-body: #fff;
$color--background-screen: #f1f1f1;
$color--background-hr: #ccc;
$color--background-button: #e6e6e6;
$color--background-pre: #f1f1f1;
$color--background-ins: #fff9c0;
$color--background-input-focus: #fff;

$color--background-lightbox: #fff;
$color--background-lightbox-dark: #1c1c21;
$color--background-lightbox-button: $black;
$color--background-lightbox-button-dark: #dfdfe2;

$color--text-screen: #21759b;
$color--text-input: $black;
$color--text-input-focus: $black;
$color--text-input-placeholder: #bbb;
$color--text-footer-a: #bbb;
$color--link: #4169e1;
$color--link-visited: #800080;
$color--link-hover: #333;

$color--border-button: #ccc #ccc #888;
$color--border-button-hover: #ccc #888 #aaa;
$color--border-button-focus: #aaa #888 #888;
$color--border-input: #e6e6e6;
$color--border-input-hover: #d6d6d6;
$color--border-input-focus: #c6c6c6;
$color--border-abbr: #e8e8e8;
$color--border-table: #ccc;
$color--border-footer: rgba(0, 0, 0, 0.075);

$color--outline-button: #959595;
