// Variables
@import "variables";

// Mixins
@import "mixins";

/**
 * 1.0 - Body
 */

body.wp-autoresize {
	background-color: #fff;
	color: rgba(0, 0, 0, .9);
	max-width: 700px;
	padding: 0 20px !important;
	margin: 40px auto 10px !important;
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: none;
	text-rendering: optimizeLegibility;
	word-wrap: break-word;
}

.mce-content-body img[data-wp-more] {
	margin-top: 40px !important;
	margin-bottom: -30px !important;
	width: 100% !important;
}

/**
 * 2.0 - Typography
 */

body,
button,
input,
select,
textarea {
	font-size: 17px;
	line-height: 1.7;
	color: #2a2a2a;
	font-family: "Lora", "Georgia", serif;
	font-smoothing: auto !important;
}

@media screen and (min-width: 600px) {
	body,
	button,
	input,
	select,
	textarea {
		font-size: calc(17px + 2 * ((100vw - 600px) / 600));
	}
}

@media screen and (min-width: 1200px) {
	body,
	button,
	input,
	select,
	textarea {
		font-size: 19px;
	}
}

@media screen and (min-width: 600px) {
	body,
	button,
	input,
	select,
	textarea {
		line-height: calc(1.4em + (1.6 - 1.3) * ((100vw - 18em)/(35 - 18)));
	}
}

@media screen and (min-width: 820px) {
	body,
	button,
	input,
	select,
	textarea {
		line-height: 1.8;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	color: rgba(0, 0, 0, 0.8);
	font-family: "Heebo", sans-serif;
	font-weight: 800;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: -.45em 0 .05em;
	padding-top: 1em;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: #2a2a2a;
	box-shadow: 0 0 0 currentcolor;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
	box-shadow: 0 0 0 currentcolor;
}

h1,
.h1 {
	line-height: 1.3;
}

h1,
.h1 {
	font-size: 32px;
}

@media screen and (min-width: 514px) {
	h1,
	.h1 {
		font-size: calc(32px + 23 * ((100vw - 514px) / 686));
	}
}

@media screen and (min-width: 1200px) {
	h1,
	.h1 {
		font-size: 55px;
	}
}

@media screen and (min-width: 514px) {
	h1,
	.h1 {
		line-height: calc(1.25em + (1.5 - 1.3) * ((100vw - 21em)/(35 - 21)));
	}
}

@media screen and (min-width: 1200px) {
	h1,
	.h1 {
		line-height: 1.2;
	}
}

h2,
.h2 {
	@include fluid-type(514px, 820px, 24px, 30px);
	@include fluid-line-height(514px, 1200px, 1.3, calc(1.25em + (1.5 - 1.3) * ((100vw - 21em)/(35 - 21))), 1.2);
}

h3,
.h3 {
	@include fluid-type(514px, 820px, 24px, 27px);
	@include fluid-line-height(514px, 1200px, 1.3, calc(1.25em + (1.5 - 1.3) * ((100vw - 21em)/(35 - 21))), 1.2);
}

h4,
.h4 {
	@include fluid-type(514px, 820px, 20px, 28px);
	@include fluid-line-height(514px, 1200px, 1.6, calc(1.2em + (1.5 - 1.3) * ((100vw - 21em)/(35 - 21))), 1.5);
}

h5,
.h5 {
	@include font-size(16px);
	line-height: 1.3;

	@media only screen and (min-width: 600px) {
		@include font-size(18px);
	}
}

h6,
.h6 {
	@include font-size(14px);

	@media only screen and (min-width: 600px) {
		@include font-size(16px);
	}
}


p {
	margin: 0 0 1.3em;

	@media (min-width: 600px) {
		margin: 0 0 1.75em;
	}
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-size: 24px;
	font-size: 1.5rem;
	border: none;
	quotes: none;
	font-style: italic;
	line-height: 1.7;
	font-weight: normal;
	margin: 35px 0;
	 color: #656e79;
}

@media (min-width: 600px) {
	blockquote {
		margin: 55px 0 55px 50px;
	}
}

blockquote > p:last-child {
	margin-bottom: 0;
}

blockquote cite {
	font-size: 20px;
	font-size: 1.25rem;
	display: block;
	font-style: normal;
	margin-top: 5px;
}

address {
	font-style: italic;
	margin: 0 0 1.75em;
}

code,
kbd,
tt,
var,
samp,
pre {
	font: 17px/1.7 "Monaco", Courier, "Courier New", monospace;
}

pre {
	background-color: #f1f1f1;
	clear: both;
	display: block;
	font-size: 14px;
	margin: 3.3em 0;
	overflow: auto;
	padding: 40px;
	white-space: pre-wrap;
	word-wrap: break-word;
}

code {
	font-size: 15px;
	font-size: 0.9375rem;
	padding: 3px 10px;
	position: relative;
	top: -1px;
	border-radius: 3px;
	background-color: #f1f1f1;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #eee;
	text-decoration: none;
}

big {
	font-size: 125%;
}

blockquote,
q {
	quotes: "" "";
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

/**
 * 3.0 - Elements
 */

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em;
}

@media (min-width: 600px) {
	ul,
	ol {
		margin: 0 0 1.85em;
	}
}

ul,
ol {
	padding-left: 20px;
}

ul li,
ol li {
	padding-left: 5px;
}

@media (min-width: 600px) {
	ul li,
	ol li {
		padding-left: 10px;
	}
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

table,
th,
td {
	border: 1px solid #ccc;
}

table {
	font-size: 16px;
	font-size: 1rem;
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	line-height: 1.5;
	margin: 0 0 1.5em;
	table-layout: fixed;
	width: 100%;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

th {
	border-width: 0 1px 1px 0;
	color: rgba(0, 0, 0, 0.8);
}

td {
	border-width: 0 1px 1px 0;
}

th,
td {
	padding: 0.33em;
}

a {
	-webkit-box-shadow: inset 0 -1px 0 rgba(15, 15, 15, 1);
	box-shadow: inset 0 -1px 0 rgba(15, 15, 15, 1);
	color: #222;
	text-decoration: none;
	-webkit-transition: color 80ms ease-in, -webkit-box-shadow 130ms ease-in-out;
	transition: color 80ms ease-in, -webkit-box-shadow 130ms ease-in-out;
	transition: color 80ms ease-in, box-shadow 130ms ease-in-out;
	transition: color 80ms ease-in, box-shadow 130ms ease-in-out, -webkit-box-shadow 130ms ease-in-out;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:focus {
	color: #000;
	-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 3px 0 rgba(0, 0, 0, 1);
	box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 3px 0 rgba(0, 0, 0, 1);
}

/* Fixes linked images */

a img {
	background: #fff;
	-webkit-box-shadow: 0 0 0 6px #fff;
	box-shadow: 0 0 0 6px #fff;
}

/**
 * 4.0 - Alignment
 */

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

embed,
iframe,
object {
	margin: 0;
	max-width: 100%;
}

.alignleft {
	display: block;
	margin: .15em auto .8em;
}

@media only screen and (min-width: 300px) {
	.alignleft {
		display: inline;
		float: left;
		margin-left: initial;
		margin-right: 2.3em;
	}
}

@media only screen and (min-width: 600px) {
	.alignleft {
		max-width: 100%;
	}
}

.alignright {
	display: block;
	margin: .15em auto .8em;
}

@media only screen and (min-width: 300px) {
	.alignright {
		display: inline;
		float: right;
		margin: .15em 0 .8em 1.5em;
		max-width: 40%;
	}
}

@media only screen and (min-width: 600px) {
	.alignright {
		max-width: 100%;
	}
}

.aligncenter {
	margin-top: 7%;
	margin-bottom: 7%;
	clear: both;
	margin-left: -5vw;
	padding-left: 20px;
	width: calc(100% + 10vw) !important;
	max-width: calc(100% + 10vw - 40px) !important;
	-webkit-transition: 300ms cubic-bezier(0.694, 0, 0.335, 1), margin 300ms cubic-bezier(0.694, 0, 0.335, 1);
	transition: 300ms cubic-bezier(0.694, 0, 0.335, 1), margin 300ms cubic-bezier(0.694, 0, 0.335, 1);
}

@media only screen and (min-width: 870px) {
	.aligncenter {
		margin-left: -7vw;
		width: calc(100% + 14vw) !important;
		max-width: calc(100% + 14vw - 40px) !important;
	}
}

.alignnone {
	width: 100% !important;
	margin: 7.25% 0;
}

@media only screen and (min-width: 600px) {
	.alignnone {
		margin: 40px 0;
	}
}



/**
 * 5.0 - Caption
 */
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
	text-align: center;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption-dd {
	font-size: 12px;
	font-size: 0.75rem;
	color: #656e79;
	font-family: "Heebo", sans-serif;
	line-height: 1.5;
	margin-top: 15px;
	margin-bottom: 30px;
}

@media (min-width: 600px) {
	.wp-caption-dd {
		font-size: 13px;
		font-size: 0.8125rem;
		margin-bottom: 40px;
	}
}

.wp-caption-dd a {
	color: #656e79;
}

.alignleft .wp-caption-dd,
.alignright .wp-caption-dd {
	margin-bottom: 0;
}


/**
 * 6.0 - Galleries
 */

.gallery-item {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	margin: 0 0 1.5em;
	padding: 0 1em 0 0;
	width: 50%;
}

.gallery-item a {
	box-shadow: none !important;
}

.gallery-columns-1 .gallery-item {
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-item a,
.gallery-item a:hover,
.gallery-item a:focus {
	box-shadow: none;
	background: none;
	display: inline-block;
	max-width: 100%;
}

.gallery-item a img {
	display: block;
	-webkit-transition: -webkit-filter 0.2s ease-in;
	transition: -webkit-filter 0.2s ease-in;
	transition: filter 0.2s ease-in;
	transition: filter 0.2s ease-in, -webkit-filter 0.2s ease-in;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.gallery-item a:hover img,
.gallery-item a:focus img {
	-webkit-filter: opacity(60%);
	filter: opacity(60%);
}

.gallery-caption {
	display: block;
	text-align: left;
	padding: 0 10px 0 0;
	margin-bottom: 0;
}

/**
 * 8.0 - RTL
 */

.rtl th {
	text-align: right;
}

.rtl li > ul,
.rtl li > ol {
	margin-left: 0;
	margin-right: 1.5em;
}

.rtl .mejs-offscreen {
	right: -10000px;
}

/**
 * 9.0 - Images
 */

.intrinsic {
	height: 0;
	position: relative;
	margin: 0;
	width: 100%;
}

.intrinsic img {
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	position: absolute;
}

/**
 * 10.0 - Gists
 */

.oembed-gist {
	margin: .75em 0 1.35em;
}

h2 + .oembed-gist,
h3 + .oembed-gist,
h3 + .oembed-gist,
h4 + .oembed-gist {
	margin-top: 1.75em;
}

@media (min-width: 600px) {
h2 + .oembed-gist,
h3 + .oembed-gist,
h3 + .oembed-gist,
h4 + .oembed-gist {
		margin-top: 2.1em;
	}
}

.oembed-gist .gist a {
	box-shadow: none !important;
}

.oembed-gist .gist img {
	opacity: 1;
	position: relative;
	top: 1px;
}

.oembed-gist .gist .blob-num {
	display: none;
}

.oembed-gist .gist .gist-file {
	border-bottom: 1px solid #ddd;
	margin-bottom: 0;
}

.oembed-gist .gist .gist-file + .gist-file {
	margin-top: 20px;
}

/**
 * 11.0 - Home
 */

.home p:first-of-type {
	margin-top: 2em;
}

.home h5 {
	color: #656e79;
	margin-bottom: 2.5em;
	margin-top: 4em;
	font-weight: 500;
}

.home h1 {
	color: #2a2a2a;
	line-height: 1.4;
	margin-bottom: 0;
	padding: 0;
	white-space: nowrap;
}

.home h1 {
	font-size: 90px;
}

@media screen and (min-width: 600px) {
	.home h1 {
		font-size: calc(90px + 60 * ((100vw - 600px) / 600));
	}
}

@media screen and (min-width: 1200px) {
	.home h1 {
		font-size: 150px;
	}
}

@media only screen and (max-width: 599px) {
	.home h1 {
		font-size: 70px;
		font-size: 4.375rem;
	}
}

@media only screen and (max-width: 399px) {
	.home h1 {
		font-size: 52px;
		font-size: 3.25rem;
	}
}

.home h1 + h1 {
	display: block;
	margin-bottom: 0;
	margin-left: 3vw;
	line-height: 1.2;
}

@media only screen and (min-width: 400px) {
	.home h1 + h1 {
		margin-left: 5.5vw;
	}
}

.home h1 + .typed-content {
	margin-left: 3.2vw;
}

@media only screen and (min-width: 400px) {
	.home h1 + .typed-content {
		margin-left: 5.7vw;
	}
}

.home h1 + .typed-content h2 {
	padding: 0 !important;
	margin: 0 !important;
}

