// Variables
@import "variables";

// Mixins
@import "mixins";

// Editor Width
$editor-width: 740px;
$editor-wide-width: 1040px;

body.gutenberg-editor-page {

	// Import colors.
	@import "blocks/color-palette";

	// Main column width.
	.editor-block-list__layout {

		.editor-block-list__block,
		.editor-default-block-appender {
			max-width: $editor-width;
		}
	}

	.editor-post-title {

		.editor-post-title__block {
			max-width: $editor-width;
		}
	}

	// Wide and full aligned widths.
	.editor-block-list__layout {

		.editor-block-list__block {

			&[data-align="wide"] {
				max-width: $editor-wide-width;
			}

			&[data-align="full"] {
				max-width: none;
			}
		}
	}

	// Post title
	.editor-post-title__input {
		@include font-smoothing;
		@include fluid-type(514px, 1200px, 32px, 55px);
		color: $black;
		font-family: $font__heading;
		font-weight: 600;
		letter-spacing: -0.009em;
		line-height: 1.28em;
	}

	.edit-post-text-editor {

		.editor-post-title {
			max-width: calc(#{$editor-width} + 40px);

			@media (min-width: 600px) {
				padding-left: 0;
				padding-right: 0;
			}

			.editor-post-permalink {
				left: 1px;
				right: 1px;
				top: -40px;
			}
		}
	}

	.editor-post-permalink__link {
		box-shadow: none !important;
		color: #7e8993 !important;
	}
}

.wp-block-button.is-style-squared .wp-block-button__link {
	border-radius: 4px;
}

.wp-block-button__link {
	font-family: $font__heading;
	text-decoration: none !important;
	box-shadow: none !important;
	padding-bottom: 10px !important;
}

.edit-post-visual-editor {

	.editor-block-list__block:first-of-type {
		&.is-selected {
			z-index: 9999;
		}
	}

	// The editor's body/paragraph text.
	.editor-block-list__block p,
	.editor-block-list__block ul,
	.editor-block-list__block ol {
		@include fluid-type(600px, 820px, 17px, 19px);
		@include fluid-line-height(600px, 820px, 1.66, calc(1.4em + (1.6 - 1.3) * ((100vw - 18em) / (35 - 18))), 1.75);
		color: $black;
		font-family: $font__main;
	}

	.blocks-rich-text__tinymce.mce-content-body {
		@include fluid-line-height(600px, 820px, 1.66, calc(1.4em + (1.6 - 1.3) * ((100vw - 18em) / (35 - 18))), 1.75);
	}

	.editor-default-block-appender input[type="text"].editor-default-block-appender__content {
		@include fluid-type(600px, 820px, 17px, 19px);
		@include fluid-line-height(600px, 820px, 1.75, calc(1.4em + (1.6 - 1.3) * ((100vw - 18em) / (35 - 18))), 1.65);
		font-family: $font__main;
	}

	// Links within blocks.
	a:not(.components-button) {
		box-shadow: inset 0 -1px 0 currentColor;
		color: $black;
		text-decoration: none;

		&:hover {
			box-shadow: inset 0 0 0 currentColor, 0 3px 0 currentColor;
		}

		/* Fixes linked images */
		a img {
			box-shadow: 0 0 0 6px $white;
		}
	}

	.blocks-rich-text__tinymce:focus a[data-mce-selected] {
		box-shadow: none;
	}

	.sans-serif-font {
		font-family: $font__heading;
	}

	.h6 {
		@include font-size(19px);
		letter-spacing: -0.0075em;
		line-height: 1.4;
	}

	@import "base";
}

.editor-block-list__block[data-type="coblocks/alert"] {

	.wp-block-coblocks-alert__title {
		font-size: 1.4em;
	}
}

.editor-block-list__block[data-type="core/subhead"] {
	// Grab the styling so we're not repeating ourselves.
	@import "blocks/subhead";

	a {
		box-shadow: inset 0 -2px 0 currentColor !important;
		color: $gray;
	}
}

.editor-block-list__block[data-type="coblocks/author"] {

	.wp-block-coblocks-author {
		max-width: 720px !important;
	}

	.wp-block-coblocks-author__heading {
		margin-bottom: 0;
		@extend .small;
		@extend .medium;
		@extend .sans-serif-font;
		@extend .gray;
	}

	.wp-block-coblocks-author__name {
		@include fluid-type(514px, 820px, 24px, 27px);
		padding: 0;
		font-family: $font__heading;
		font-weight: 800;
	}

	.wp-block-coblocks-author__content {
		line-height: 1.8;
	}
}

.editor-block-list__block[data-type="coblocks/click-to-tweet"] {

	.wp-block-coblocks-click-to-tweet__text {
		@include font-size(25px);
		border: none;
		quotes: none;
		font-style: italic;
		line-height: 1.7;
		font-weight: 400;
		color: $gray;
	}

	.wp-block-coblocks-click-to-tweet__twitter-btn {
		@extend .sans-serif-font;
		@include font-size(16px);
		height: 40px;
		font-weight: 500;
		line-height: 41px;
		padding-left: 0.9em;
		padding-right: 0.9em;
	}

	.wp-block-coblocks-click-to-tweet__text::before {
		top: 10px;
	}

}

.editor-block-list__block[data-type="core/image"],
.editor-block-list__block[data-type="core/gallery"],
.editor-block-list__block[data-type="core/cover-image"],
.editor-block-list__block[data-type="core/audio"] {
	margin-top: 1.8rem;
	margin-bottom: 1.6rem;

	&[data-align="wide"] {
		margin-top: 0.8rem;
		margin-bottom: 0.8rem;
	}

	&[data-align="full"] {
		margin-top: 1rem;
		margin-bottom: 0.6rem;
	}

	figcaption {
		@include font-size(13px);
		color: $gray;
		background: $white;
		@extend .sans-serif-font;
		margin-bottom: -0.5rem;

		@media (min-width: 600px) {
			@include font-size(14px);
		}

		a {
			color: $gray;

			&:hover {
				color: $black;
			}
		}
	}

	.wp-block-image figcaption {
		margin-top: 0.75em;
		margin-bottom: 0.15em;
	}

	.blocks-gallery-item figcaption {
		background: rgba($white, 0.7);
		padding-top: 0.55em;
		padding-bottom: 0.66em;
	}

	.wp-block-gallery.columns-1 {
		figcaption {
			background: $white;
			padding-bottom: 0;
		}
	}

	.wp-block-gallery.columns-1 li:nth-child(1):last-child figure {
		margin-bottom: 1.1em;
	}

	.wp-block-gallery.columns-1 li:last-child figure {
		margin-bottom: 0;
	}
}

.editor-block-list__block[data-type="core/cover-image"] {

	&[data-align="left"],
	&[data-align="right"] {
		max-width: 100%;

		@media (min-width: 880px) {
			max-width: 480px;
		}
	}

	&[data-align="full"] {
		.wp-block-cover-image-text {
			@include fluid-type(514px, 820px, 28px, 40px);
		}
	}

	.wp-block-cover-image-text {
		@include fluid-type(514px, 820px, 24px, 32px);
		@include fluid-line-height(514px, 1200px, 1.3, calc(1.25em + (1.5 - 1.3) * ((100vw - 21em)/(35 - 21))), 1.2);
		font-family: $font__heading;
		font-weight: 600;
		margin: 0;
		padding: 0;

		.alignfull & {
			@include fluid-type(514px, 820px, 28px, 40px);
		}
	}
}

.editor-block-list__block[data-type="core/heading"] {
	margin-top: 0.8rem;
	margin-bottom: 0;
	padding-bottom: 0;

	@media (min-width: 600px) {
		margin-top: 2rem;
	}

	// Grab the styling so we're not repeating ourselves.
	@import "typography/headings";

	.wp-block-heading {
		@include headings {
			line-height: 1.3em !important;
		}

		h3,
		h4,
		h5,
		h6 {
			line-height: 1.45em !important;
		}
	}
}

.wp-block-verse,
.wp-block-preformatted {
	background-color: $color--background-pre;
	padding: 40px;
	white-space: pre-wrap;
	word-wrap: break-word;

	pre {
		font: 14px/1.7 Monaco, Courier, "Courier New", monospace;
		padding: 0;
	}
}

.editor-block-list__block[data-type="core/quote"] {
	@media (min-width: 600px) {
		margin-top: 0.6em;
		margin-bottom: 0.6em;
	}

	// Grab the styling so we're not repeating ourselves.
	@import "blocks/quote";

	// Reset the margin that we need on the frontend, but not within the editor.
	.wp-block-quote {
		margin: 0 !important;

		&.is-large {
			padding-left: 30px !important;

			@media (min-width: 700px) {
				padding-left: 50px !important;
			}
		}

		cite {
			font-family: $font__main;
			margin-top: 8px;
		}
	}

	cite[data-is-placeholder-visible="true"]:before {
		display: none;
	}

	.wp-block-quote {
		border: none;
		quotes: none;
		margin: 1.2em 0 1.2em .75em;

		@media (min-width: 600px) {
			margin: 1.5em 0 1.5em 1.5em;
		}

		p {
			margin-bottom: 0;
			@include font-size(25px);
			font-style: italic;
			line-height: 1.7;
			font-weight: normal;
		}

		cite {
			@include font-size(18px);
			display: block;
			font-style: normal;
			margin-top: .4em;
			font-style: italic;
		}

		&.is-large {
			margin-left: 0;
			padding-left: 1em;
			border-left: 3px solid $black;

			p {
				@include font-size(21px);
				color: $gray;
				line-height: 1.6;
			}

			cite {
				@include font-size(16px);
			 	text-align: left;
			 	margin-top: .6em;
			 	font-family: $font__main;
			}
		}
	}
}

.editor-block-list__block[data-type="core/list"],
.editor-block-list__block[data-type="core/latest-posts"] {
	counter-reset: post;

	// Grab the styling so we're not repeating ourselves.
	@import "elements/lists";

	ul,
	ol {
		margin: 0 !important;
	}
}

.editor-block-list__block[data-type="core/paragraph"] {
	// Grab the styling so we're not repeating ourselves.
	@import "blocks/paragraph";
}

.editor-block-list__block[data-type="core/pullquote"] {
	// Grab the styling so we're not repeating ourselves.
	@import "blocks/pullquote";

	// Reset the margin that we need on the frontend, but not within the editor.
	.edit-post-visual-editor & .editor-block-list__block-edit blockquote.wp-block-pullquote {
		margin: 0 !important;
		margin-bottom: 0 !important;

		@media (max-width: 879px) {
			text-align: center !important;
		}
	}

	@media (max-width: 879px) {
		float: none;
	}

	cite {
		font-family: $font__main;
		margin-top: 8px;

		&[data-is-placeholder-visible="true"]::before {
			display: none;
		}
	}

	&[data-align="left"] {
		.wp-block-pullquote {
			text-align: left;
		}
	}

	&[data-align="right"] {
		max-width: 420px;

		.wp-block-pullquote {
			text-align: right;
		}
	}

	&[data-align="left"] {
		max-width: 420px;

		@media (max-width: 879px) {
			max-width: 100% !important;
		}

		@media (min-width: 880px) {
			margin-left: calc(50% - 480px - 20px) !important;
		}

		@media (min-width: 1188px) {
			margin-left: calc(50% - 574px - 20px) !important;
		}

		@media (max-width: 879px) {
			margin-left: auto !important;
			margin-right: auto !important;
			width: 100% !important;
		}
	}

	&[data-align="right"] {
		@media (max-width: 879px) {
			max-width: 100% !important;
		}

		@media (min-width: 880px) {
			margin-right: calc(50% - 480px - 20px) !important;
		}

		@media (min-width: 1188px) {
			margin-right: calc(50% - 574px - 20px) !important;
		}

		@media (max-width: 879px) {
			margin-left: auto !important;
			margin-right: auto !important;
			width: 100% !important;
		}
	}
}

.wp-block-audio {
	margin-left: 0;
	margin-right: 0;

	audio {
		width: 100%;
	}
}

/** === Block Gallery === */

.blockgallery {
	margin-top: 2.3em !important;
	margin-bottom: 2.3em !important;

	figcaption {
		font-family: $font__heading;
	}
}

// body[data-type="blockgallery/carousel"] {
.editor-block-list__block[data-type="blockgallery/carousel"] {
	.components-resizable-box__container {
		margin-bottom: 2.3em;
	}
}