.size-full,
.size-large,
.alignnone:not(.wp-block-gallery) {
	display: block;
	height: auto;
	max-width: 100%;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
@import "captions";
