.social-navigation ul li a {
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	color: $black;
}

.social-navigation {
	transition: margin 0.3s cubic-bezier(0.694, 0.0482, 0.335, 1);

	@media only screen and (max-width: 299px) {
		display: none;
	}

	li {
		display: inline-block;
		transform: translate3d(0, 0, 0);
		line-height: 1;
		padding: 0 1px;
		max-height: 24px;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}

	a {
		transition: opacity 100ms cubic-bezier(0.645, 0.045, 0.355, 1);

		@include hover {

			&:hover {
				opacity: 0.7;
			}
		}

	}

	.site-header & {
		position: relative;
		margin-left: 7px;

		svg {
			fill: $black;
		}
	}

	.customize-partial-edit-shortcut button {
		display: none;
	}
}
