/* Upgrade to the pro version button */
#customize-controls .control-section-upgrade-theme .accordion-section-title:hover,
#customize-controls .control-section-upgrade-theme .accordion-section-title:focus {
	background-color: #fff;
}

.control-section-upgrade-theme .accordion-section-title .button {
	margin-top: -4px !important;
	font-weight: 400;
	margin-left: 8px;
}

.rtl .control-section-upgrade-theme .accordion-section-title .button {
	margin-left: 0;
	margin-right: 8px;
}

/* Minor positioning fixes */
#customize-control-blogname {
	margin-top: 5px;
}

#customize-control-custom_logo_border_radius {
	margin-top: -5px;

	.customize-control-title {
		font-weight: 600;
	}
}
