h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	color: $color__text-heading;
	font-family: $font__heading;
	font-weight: $font__weight-heading;
	line-height: $font__line-height-heading;
	margin: 0;

	.entry-content & {
		margin-bottom: 0 !important;
		padding-top: 10px;
		position: relative;

		&:target::before {
			border-left: 5px solid $black;
			content: "";
			height: 50%;
			height: calc(100% - 5px);
			left: 0;
			position: absolute;
			top: 5px;
		}

		+ p {
			margin-top: $content__spacer / 2;
		}

		+ ul,
		+ ol {
			margin-top: round($content__spacer / 2);
		}

		+ .wp-block-image,
		+ .wp-block-gallery {
			margin-top: ($content__spacer / 2) + 10;
		}

		+ div[class*="blockgallery"] {
			margin-top: ($content__spacer / 2) + 10;
		}
	}
}

h1,
.h1 {
	@include fluid-type(514px, 1200px, 32px, 55px);
}

h2,
.h2 {
	@include fluid-type(514px, 820px, 28px, 34px);
}

h3,
.h3 {
	@include fluid-type(514px, 820px, 24px, 28px);
}

h4,
.h4 {
	@include fluid-type(514px, 820px, 20px, 25px);
}

h5,
.h5 {
	@include font-size(19px);

	@media only screen and (min-width: 600px) {
		@include font-size(20px);
	}
}

h6,
.h6 {
	@include font-size(17px);

	@media only screen and (min-width: 600px) {
		@include font-size(18px);
	}
}
