body,
button,
input,
select,
textarea {
	@include fluid-type(600px, 1200px, 17px, 19px);
	@include fluid-line-height(600px, 820px, 1.8, calc(1.4em + (1.6 - 1.3) * ((100vw - 18em)/(35 - 18))), 1.8);
	color: $black;
	font-family: $font__main;
}

body {
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: none;
	text-rendering: optimizeLegibility;
	word-wrap: break-word;
}

@import "headings";

@import "copy";