.alignleft,
.alignright {
	padding-left: $content_padding;
	padding-right: $content_padding;

	@media (max-width: 839px) {
		width: auto !important;
	}

	@media (min-width: 840px) {
		margin-bottom: 1.3rem;
		margin-top: .7rem;
	}

	img {

		@media (max-width: 849px) {
			width: auto !important;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.alignleft {
	float: left;
	margin-left: calc(50% - 380px);
	margin-right: 2rem;
}

.alignright {
	float: right;
	margin-right: calc(50% - 380px);
	margin-left: 2rem;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignfull,
.alignwide {
	margin-left: auto;
	margin-right: auto;
	padding-left: $content_padding_mobile;
	padding-right: $content_padding_mobile;
}

.alignfull {
	width: 100%;

	img {
		width: 100%;
	}
}

.alignwide {

	&p,
	&.wp-block-audio,
	&.wp-block-code,
	&.wp-block-embed,
	&.wp-block-gallery,
	&.wp-block-image,
	&.wp-block-preformatted,
	&.wp-block-pullquote,
	&.wp-block-table,
	&.wp-block-text-columns,
	&.wp-block-writy-posts,
	&.wp-block-verse {
		margin-left: auto;
		margin-right: auto;
		max-width: $alignwide_width_mobile;

		@media (min-width: $alignwide_width) {
			max-width: $alignwide_width;
		}
	}

	&.wp-block-writy-posts {
		max-width: $alignwide_width + 40px;
	}
}
