.has-black-background-color {
	background-color: $black;
}

.has-gray-background-color {
	background-color: $gray;
}

.has-light-gray-background-color {
	background-color: $background;
}

.has-light-gray-color {
	color: #eee;
}

.has-black-color {
	color: $black;
}

.has-gray-color {
	color: $gray;
}
