.wp-block-quote {
	margin-top: 30px;
	margin-bottom: 30px;
	border: none !important;
	position: relative;

	&:not(.is-large):before {
		height: calc(100% - 16px);
		display: block;
		width: 3px;
		background-color: $black;
		content: "";
		position: absolute;
		top: 8px;
		left: 0;

		@media (min-width: 600px) {
			height: calc(100% - 18px);
			top: 9px;
		}

		@media (min-width: 744px) {
			left: -2px;
		}
	}

	@media (min-width: 600px) {
		margin-top: 36px;
		margin-bottom: 36px;
	}

	p {
		color: $black;
		margin-bottom: 0;
		display: inline;
	}

	cite {
		@include fluid-type(600px, 740px, 17px, 19px);
		display: block;
		color: $black;
		margin-top: 10px;
		font-style: italic;

		&:before {
			content: "—";
			padding-right: 5px;
		}
	}

	&.is-large {
		border: 0 !important;
		margin: 36px 0 32px;
		padding-left: calc(30px + #{$content_padding}) !important;
		quotes: none;
		text-indent: -0.55em;

		@media (min-width: 700px) {
			padding-left: calc(50px + #{$content_padding}) !important;
			margin: 45px 0 35px;
		}

		p {
			@include font-smoothing();
			@include font-size(22px);
			color: $gray;
			font-family: $font__heading;
			font-style: italic;
			letter-spacing: -0.015em;
			line-height: 1.6;
			font-weight: 400;

			&:after,
			&:before {
				@include font-size(22px);
				content: '"';
				font-style: italic;
				position: relative;
				vertical-align: top;
			}

			&:before {
				padding-right: 2px;
				top: 1px;
			}

			@media (min-width: 700px) {

				&,
				&:after,
				&:before {
					@include font-size(26px);
				}
			}
		}

		cite {
			@include font-smoothing();
			@include font-size(20px);
			color: $gray;
			color: $gray;
			display: block;
			font-family: $font__heading;
			margin-top: 10px;
			text-align: left;
			text-indent: -4px;

			&:before {
				content: "—";
				padding-right: 10px;
			}

			@media (min-width: 700px) {
				@include font-size(23px);
			}
		}
	}
}
