p.wp-block-subhead {
	@include font-smoothing;
	@include font-size(22px);
	color: $gray;
	font-family: $font__heading;
	font-style: normal;
	opacity: 1;
	line-height: 1.4;

	@media (min-width: 600px) {
		@include font-size(24px);
		line-height: 1.42;
	}

	.entry-content > &:nth-of-type(1) {
		margin-top: -0.33em;
	}

	a {
		box-shadow: inset 0 -2px 0 currentColor !important;
	}
}
