#sprite {
	@include hide;
}

.svg-fallback {
	display: none;

	.no-svg & {
		display: inline-block;
	}
}

/* Dropdown toggle fallbacks */

.no-svg .dropdown-toggle {
	padding: 0.5em 0 0;
	right: 0;
	text-align: center;
	width: 2em;

	.svg-icon {
		display: none;
	}

	.svg-fallback.icon-down {
		@include font-size(15px);
		font-weight: bold;
		line-height: 1;
		transform: rotate(180deg);
		color: $gray;
		position: relative;
		top: -3px;
		right: -10px;
	}
}

.no-svg .dropdown-toggle.toggled-on .svg-fallback.icon-down {
	top: 2px;
	transform: rotate(0);
}

.no-svg .dropdown-toggle .svg-fallback.icon-down:before {
	content: "\005E";
}
