$night_mode_background_base: #1c1b1b;
$night_mode_background: #1c1b1b !important;
$night_mode_text: #939393 !important;
$night_mode_heading: #d3d3d3 !important;

.night-mode {
	@import "night-mode-content";
}

@media (prefers-color-scheme: dark) {
	@import "night-mode-content";

	#night-mode-toggle {
		display: none !important;
	}
}
